body{
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 200px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
}

.container{
  font-size: 30px;
}